

body {
	margin:0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.social-header {
  background-color: #000;
  padding-bottom: 15px;
  padding-top: 15px;
}

.info {
  text-decoration: none;
  list-style: none;
  text-align: right;

  padding: 0px;
}

.info ul {
  text-decoration: none;
  list-style: none;
}

.info li a {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
}
@media(max-width: 995px) {
    .info li {
        text-align: center; 
        margin-top: 20px;
        
    }

    .info li a {
      font-size: 15px;
    }
}

.logo {
	max-width: 100%;
	max-height: 100%;
}

.main-photo {
  position: relative;
}

.mainphoto  {
  overflow: hidden;
}

.mainphoto .img {
  padding: 350px 0;
}

.mainphoto .img1 {
background: url('../images/clifton.jpg') no-repeat center center;
background-size: cover;
}

.mainphoto .img2 {
background: url('../images/bristolaerial.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.mainphoto .img3 {
background: url('../images/bristolphoto.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.mainphoto  {
width: 100%;
-webkit-filter: blur(0px) saturate(0%) brightness(70%);
}

.mainphoto-header h2 h3{
  pointer-events: none;
}

.mainphoto-header h2 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 80px;
  top: 35%;
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  position: absolute;
}

.mainphoto-header h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%); 
  position: absolute;
}

@media(max-width: 1395px) {
    .mainphoto-header h3 {
        position: absolute;
        text-align: center; 
        top: 62%;
}

.main-text-2 {
  top: 80%;
}
/*nav section*/
}
a {
  outline: none;
}

.nav-container {
  text-align: center;
  background-color: #000;
  padding: 10px;
  font-size: 0;
}

.nav-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.nav-container ul li {
  display: inline-block;
  font-size: 16px;
}

.nav-container ul li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  display: inline-block;  
  padding: 10px;
  transition: color 0.5s;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-container ul li .underline {
  height: 3px;
  background-color: #000;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;

}
.nav-container ul li.active-link .underline {
  width: 100%;
  background-color: green;
}

.nav-container ul li:hover .underline {
  background-color: green;
  width: 100%;
}

.nav-link .active-link ul:hover a {
  background-color: #000;
}

.nav-container ul li:hover a {
  background-color: #000;
}

.nav-container ul li:active a {
  transition: none;
  background-color: #000;
  color: rgba(255,255,255,0.76);
}

.nav-container ul li:active .underline {
  transition: none;
  background-color: #000;
  background-color: rgba(255,255,255,0.76);
}

/*nav section finish*/


.testimonials {
  color: #fff;
  background-color: #000;
  font-family: 'Raleway', sans-serif;
  text-align: center;

}

.testimonials h3 {
  margin-top: 0px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

.testimonials a {
  text-decoration: none;
  color: #fff;
}

.get-quote {
  font-style: normal;
}

.quote {
  background-color: #000;
  padding: 10px;
  color: #fff;
  /*width: 10%;*/
  margin-top: 20px;
  margin-bottom: 50px;
}



/*about section*/

.about-section {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.about-section h3 {
  padding:0px;
}

.about-section p {
  padding: 40px;
  padding-bottom: 30px;
}

.joe p {
  padding: 0px;
  margin-bottom: 100px;
}

.john p {
  padding: 0px;
}

.about-header {
  font-size: 60px;
  padding: 40px;
}

.john  {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
  /*padding-left: 100px;*/
}

.joe {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
  /*padding-right: 100px;*/
}

.john img {
  border-radius: 50%;
  border: 2px solid white;
  margin:30px;
  height: 250px;
  width: 250px;
}

.joe img {
  border-radius: 50%;
  border: 2px solid white;
  margin: 30px;
  height:250px;
  width:250px;
}

.john img:hover {
    opacity: .5;
}

.joe img:hover {
    opacity: .5;
}
/*about section finish*/

/*services*/

.services-section {
  background-color: #000;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.services-section h2{
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding: 50px;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

.services-header h2{
  border-bottom: 5px;
}

.services-section p {
  color: white;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.domestic img {
  align-items: center;
  width: 300px;
  height: 400px;
  margin-top: 70px;
  border: 2px solid white;
}

.domestic img:hover {
    opacity: .5;
}

.commercial img {
  width: 300px;
  height: 400px;
  margin: 0px;
  margin-top: 70px;
  border: 2px solid white;
}

.commercial img:hover {
    opacity: .5;
}

.portfolio img {
  width: 300px;
  height: 400px;
  margin: 0px;
  margin-top: 70px;
  border: 2px solid white;
}

.portfolio img:hover {
    opacity: .5;
}


@media(max-width: 995px) {
    .commercial img {
        width: 245px; 
        
    }
    .domestic img {
      width: 245px;

    }

    .portfolio img {
      width: 245px;
    }
  }

    @media(max-width: 765px) {
    .commercial img {
        width: 300px; 
        
    }
    .domestic img {
      width: 300px;

    }

    .portfolio img {
      width: 300px;
    }
  }

.domestic h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  text-align: center;
}

.commercial h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  text-align: center;
}

.portfolio h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  text-align: center;
}

/*services section 2*/
.services-2 {
  padding-top: 50px;
  padding-bottom: 70px;
  overflow: hidden;
}

.services-2 img{
  z-index: -1;
  position: fixed;
  overflow: hidden;
  right: 0px;
  bottom: 0px;
  -webkit-filter: blur(0px) saturate(0%) brightness(100%) opacity(0.1);
}

.services-2 h3 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  padding-bottom: 20px;
  z-index: +1;
  position: relative;
}

.services-2 ul li{
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
  text-align: center;
}

.services-2 ul {
  padding-left: 0px;
}

.services-2 p {
  color: #000;
  text-align: center;
  font-size: 18px;
  padding:30px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}
/*end of services 2 section*/

/*accreditation section*/

.accreditation {
  background-color: #000;
}

.accreditation h3{
 text-align: center;
 font-family: 'Raleway', sans-serif;
 font-size: 40px;
}

.accreditation img {
  align-content: center;
  height: 200px;
  width: 400px;
  margin: 50px;
}

.accreditation2 img {
  height: 200px;
  width: 400px;
  margin: 50px;
}

@media(max-width: 990px) {
    .accreditation img {
        width: 300px; 
        
    }

    .accreditation2 img {
    width: 300px; 
  }
}

@media(max-width: 769px) {
    .accreditation img {
        width: 400px; 
        
    }

    .accreditation2 img {
    width: 400px; 
  }
}

/*lightbox gallery section*/

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}


.gallery-container {
  background-color: white;
}
.container.gallery-container {
    background-color: #fff;
    color: #000;
    min-height: 100vh;
    padding: 30px 50px;
    /*background-color: white;*/
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 25px auto;
    font-size: 18px;
    color: #000;
}

.tz-gallery {
    padding: 60px;
}

.tz-gallery .row > div {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
}

/*contact*/
}
.contact-container h3 {

  text-align: center;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

.contact-container p {
  text-align: center;
  color: #000;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.contact-container ul {
  padding-left:0px;
  padding-bottom: 50px;
}
.contact-details li  {
   color: #000;
   font-size: 15px;
   list-style-type: none;
   text-align:center;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
}

.contact-details a {
  text-decoration: none;
}

.contact-container form {
  color: #000;
}

input[type="text"]{
  min-width: 100%;
  width:100%;
  margin-bottom: 10px;
  padding: 10px;
}

.contact-container .contact-comment {
  padding: 40px;
  padding-left: 10px;
}

.contact-submit {
  background-color: #000;
  padding: 10px;
  color: #fff;
  width: 100%;
  margin-bottom: 100px;
}

.social-footer {
  background-color: #000;
  padding-bottom: 70px;
  padding-top: 70px;
  list-style-type: none;
}

.info-footer {
  padding-left: 0px;
}

@media(max-width: 995px) {
    .info-footer {
        text-align: center;
        
    }
}

.info-footer li {
  list-style-type: none;
  font-size: 15px;
}

.info-2 {
  text-decoration: none;
  list-style: none;
  text-align: right;
  padding-left: 0px;
}



.info-2 ul {
  text-decoration: none;
  list-style: none;
  padding: 20px;
}

.info-2 li a {
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

@media(max-width: 995px) {
    .info-2 li {
        text-align: center; 
        margin-top: 20px;
        padding-left: 0px;
    }

    .info-2 li a {
      font-size: 15px;
    }
}

.social ul {
  list-style: none;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.social ul li {
  width: 75px;
  line-height: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 0px solid #D8E2DC;
  transition: all 0.5s ease;
  display: inline-block;
}

@media(max-width: 995px) {
    .social ul li {
        width: 25px;
        
    }
  }

.social ul li .fa {
  color: #D8E2DC;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.social ul li:hover .fa-facebook {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.social ul li:hover .fa-instagram {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.social ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

@media screen and (max-width: 640px){
  .social {
      width: 350px;
  }
  .social ul li{
      margin-top: 10px;
  }
  .social ul li.google{
      margin-left: 60px;
  }

@media screen and (max-width: 340px){
  .social {
      width: 150px;
  }
  .social ul li{
      margin:15px;
  }
  .social ul li.google{
      margin-left: 15px;
  }
}