
body {
	margin:0;
}

.social-header {
  background-color: #000;
  padding-bottom: 15px;
  padding-top: 15px;
}

/*.info {*/
  text-decoration: none;
}
.info li a {
  color: white;
  text-decoration: none;
}

.logo {
	max-width: 100%;
	max-height: 100%;
}

.mainphoto  {
  position: relative;
}

.mainphoto  {
  overflow: hidden;
}

.mainphoto .img {
  padding: 350px 0;
}

.mainphoto .img1 {
background: url('../images/clifton.jpg') no-repeat center center;
background-size: cover;
}

.mainphoto .img2 {
background: url('../images/bristolaerial.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.mainphoto .img3 {
background: url('../images/bristolphoto.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.mainphoto  {
width: 100%;
-webkit-filter: blur(0px) saturate(0%) brightness(70%);
}

.mainphoto-header {
  pointer-events: none;
}

.mainphoto-header h2 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 80px;
  top: 45%;
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  position: absolute;
}

.mainphoto-header h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  top: 58%;
  left: 50%;
  transform: translateX(-50%); 
  text-align: bottom;
  position: absolute;
}


/*nav section*/

a {
  outline: none;
}

.nav-container {
  text-align: center;
  background-color: #000;
  padding: 10px;
  font-size: 0;
}

.nav-container ul {
  margin: 0;
  padding: 0;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.nav-container ul li {
  display: inline-block;
  font-size: 16px;
}

.nav-container ul li a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;  
  padding: 10px;
  transition: color 0.5s;
  padding-left: 50px;
  padding-right: 50px;
}

.nav-container ul li .underline {
  height: 3px;
  background-color: #000;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}
nav>li>a:focus {
  background-color: none;
}
.nav-container ul li.active-link .underline {
  width: 100%;
  background-color: green;
}

.nav-container ul li:hover .underline {
  background-color: green;
  width: 100%;
}

.nav-link .active-link ul:hover a {
  background-color: #000;
}

.nav-container ul li:hover a {
  background-color: #000;
}


.nav-container ul li:active a {
  transition: none;
  background-color: #000;
  color: rgba(255,255,255,0.76);
}

.nav-container ul li:active .underline {
  transition: none;
  background-color: #000;
  background-color: rgba(255,255,255,0.76);
}

/*nav section finish*/


/*about section*/

.about-section {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.john p {
  margin-bottom: 100px;
}

.about-header {
  font-size: 60px;
  padding: 40px;
}

.john  {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
  padding-left: 100px;
}

.joe {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 14px;
  padding-right: 100px;
}

.john img {
  border-radius: 50%;
  border: 2px solid white;
  margin:50px;
  height: 250px;
  width: 250px;
}

.joe img {
  border-radius: 50%;
  border: 2px solid white;
  margin: 50px;
  /*margin-bottom: 30px;*/
  height:250px;
  width:250px;
}
/*about section finish*/


/*services*/

.services-section {
  background-color: #000;
  margin-bottom: 0px;
  padding-bottom: 50px;
  /*height:1000px;*/
}

.services-section h2{
  text-align: center;
  border-bottom: 1px solid white;
  color: white;
  margin-bottom: 0px;
  padding: 50px;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}

.services-header {
  text-decoration: underline;
  border-bottom: 10px;
}

.services-section p {
  color: white;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  margin-left: 40px;
  margin-right: 40px;
}

.domestic img {
  align-items: center;
  width: 300px;
  height: 400px;
  /*margin-right: 100px;*/
  margin-top: 70px;
  border: 2px solid white;
}

.commercial img {
  width: 300px;
  height: 400px;
  margin: 0px;
/*  margin-right: 100px;*/
  margin-top: 70px;
  border: 2px solid white;
}

.portfolio img {
  width: 300px;
  height: 400px;
  margin: 0px;
  margin-top: 70px;
  border: 2px solid white;
}

.domestic h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  /*margin-bottom: 100px;*/
  text-align: center;
}

.commercial h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  text-align: center;
}

.portfolio h3 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  margin-top: 20px;
  text-align: center;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 25px auto;
    font-size: 18px;
    color: #000;
}

.tz-gallery {
    padding: 60px;
}

.tz-gallery .row > div {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0,0,0, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
}

/*contact*/
}
.contact-container h3 {

  text-align: center;
  color: #000;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 10px;
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
}


.bulb {
  position: absolute; 
  z-index: -1;
  right: 0;
  height: 600px;
  width: 600px;
  float: right;  
}

@media(max-width: 768px) {
    .bulb {
        padding: 0;
        height: 100px;
        width: 100px;
}
}

.contact-container p {
  text-align: center;
  color: #000;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.contact-name {
  width: 65%;
  padding: 10px;
  margin: 10px;
}

.contact-email {
  width: 65%;
  padding: 10px;
  margin: 10px;
}

.contact-subject {
  width: 65%;
  padding: 10px;
  margin: 10px;
}

.contact-comment {
  width: 65%;
  padding: 10px;
  margin: 10px;
}

.contact-submit {
  background-color: #000;
  padding: 10px;
  color: #fff;
  margin: 10px;
  width: 65%;
  margin-bottom: 100px;
}

.social-footer {
  background-color: #000;
  padding-bottom: 15px;
  padding-top: 15px;
  height: 125px;
}

.social ul {
  list-style: none;
  margin-top: 0;
}

.social ul li {
  width: 75px;
  line-height: 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 0px solid #D8E2DC;
  float: right;
  transition: all 0.5s ease;
}

.social ul li .fa {
  color: #D8E2DC;
  margin-top: 10px;
  transition: all 0.5s ease;
}

.social ul li:hover .fa-facebook {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.social ul li:hover .fa-instagram {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.social ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

@media screen and (max-width: 640px){
  .social {
      width: 350px;
  }
  .social ul li{
      margin-top: 10px;
  }
  .social ul li.google{
      margin-left: 60px;
  }

@media screen and (max-width: 340px){
  .social {
      width: 150px;
  }
  .social ul li{
      margin:15px;
  }
  .social ul li.google{
      margin-left: 15px;
  }